* {
  margin: 0;
  padding: 0; 
}

/*Variables*/
:root {
  --col-base-background: #141414;
  --col-base-text: #c8c8c8;
  --col-footer: #141414;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: var(--col-base-background);
  color: var(--col-base-text);
  background: linear-gradient(220deg, var(--col-base-background) 0%, rgba(0, 0, 0, 0.9) 100%);
  font-family: "Montserrat",  Arial, sans-serif;
  font-size: 15px;
}

.video{
  width: 500px;
  height: 320px;
}

.navigation {
  margin-top: 50px;
  /* height: 74px;  */
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.nav-left {
  display: flex;
  margin-left: auto; 
  margin-right: 0;
}

.nav-left span {
  font-size: 35px;
  padding-top: 10px;
}

.nav-left ul {
  display: flex;
  align-items: center;
  margin: 0 77px;
  padding-bottom: 23px;
}

.nav-left ul li {
  list-style: none;
  margin: 0 14px;
  transition: all 0.3s ease-in-out;
}

.nav-left ul li a {
  text-decoration: none;
  color: var(--col-base-text);
}

.nav-left ul li a:hover {
  font-weight: bolder;
}

.content {
  margin: 0px auto;
}

/*Porfolio sections*/
.portfolio-section{
  padding: 40px 10%;
  padding-bottom: 120px;
}

.portfolio-section-blocks{
  margin-top: 40px;
  display: flex;
  align-items: start;
}

/*Contributions and timeline*/
.contributions{
  font-size: 14px;
  margin: 8px 20px;
}

#timeline{
  margin-top: 20px;
}

#timeline .portfolio-section-block{
  padding: 20px;
  background: linear-gradient(0deg,rgba(112, 83, 67, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
}

#timeline .portfolio-section-block h3{
  font-size: 14px;
}

#timeline .portfolio-section-block ul{
  margin-top: 20px;
}

#timeline .portfolio-section-block li{
  font-size: 12px;
  position: relative;
  line-height: 18px;
  left: 10px;
}

/*Portfolio block*/
.portfolio-section-block{
  background: black;
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin: 0px 4px;
  position: relative;
}

.portfolio-section-block ul{
  margin-left: 10px;
  z-index: 1;
}

.portfolio-section-block h3{
  font-size: 22px;
  z-index: 1;
}
.portfolio-section-block li{

}

.portfolio-section-block p{
  z-index: 1;
  font-size: 14px;
}

.portfolio-section-block .video{
  width: 280px;
  height: 180px;
}

.portfolio-section-block .text-content{
  position: absolute;
  top: 0;
  z-index: 2;
  width: calc(100% - 40px);
  height: 100%;
  font-size: 16px;
  text-shadow: 0px 2px 1px black;
  line-height: 24px;
  padding: 20px;
}

.portfolio-section-block img{
  width: 100%;
}

.portfolio-section-block .gif{
  width: 100%;
  /*height: 120%
  position: relative;
  left: -20%;
  top: -10%;*/
}

.portfolio-section-block .bottom-text{
  position: absolute;
  bottom: 60px;
  width: 90%;
}

.img-gradient{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(180deg,rgba(112, 83, 67, 0.25) 0%, rgba(0, 0, 0, 1) 100%);
}

.content-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 49px;
  z-index: 1;
}

.content-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-right img {
  height: 355px;
  border: 2px solid black;
  border-radius: 200px;
}

.home-articles {
  padding: 18px;
  background-color: rgb(248, 239, 239, 0.5);
  margin-top: 23px;
  position: relative;
}

.year-box {
  position: absolute;  
  right: 0px;
  top: 100px;
  width: 234px;
  height: 255px;
  font-size: 18px;
}

.year-box div {
  margin: 12px 0px;
}

.home-article {
  display: flex;
  margin: 25px;
}

.home-article img {
  width: 300px;
}

.home-article-content {
  align-self: center;
  padding: 25px;
}

.home-article-content a {
  text-decoration: none;
  color: var(--col-base-text);
}
/* .home-articles{} */
.footer {
  height: 20px;
  background-color: var(--col-footer);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer a {
  color: white;
}

/*Links*/
.portfolio-section-block .links{
  width: 66px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px 0;
  display: block;
}

.portfolio-section-block{
  border: none;
  transition: border 0.5s;
  border: 2px solid rgba(255, 255, 255, 0.15);
}

.portfolio-section-block:hover{
  border: 2px solid #DACAA3;
}

.portfolio-section-block .links{
  opacity: 0;
  transition: opacity 0.5s;
}

.portfolio-section-block:hover .links{
  opacity: 1;
  transition: opacity 0.1s;
}

.links .link-button{
  position:sticky;
  width: 50px;
  height: 50px;
  background: white;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  opacity: 0.7;
  margin-bottom: 10px;
  z-index: 3;
  transition: background 0.2s;
}

#major-links{
  display:inline-flex;
  position:absolute;
  right: 10%;
}

#major-links .link-button{
  position:relative;
  right: 0;
  margin-left: 8px;
}
#major-links .link-button img{
  position:absolute;
  width: 50px;
}

.links #link-yt:hover{
  background: #D93C36;
}

.links #link-itch:hover{
  background: #F28397;
}

.links #link-ggj:hover{
  background: #674ba9;
}

.links #link-steam:hover{
  background: #2a475e	;
}

/*Sections coloring*/
#section-ps{
  /*background: rgba(25, 39, 55, 0.3);*/
  background: linear-gradient(180deg,rgba(24, 43, 57, 0.2) 50%, rgba(0, 0, 0, 0.1) 100%);
}

#section-bi{
  /*background: rgba(42, 60, 32, 0.3);*/
  background: linear-gradient(180deg,rgba(42, 60, 32, 0.2) 50%, rgba(0, 0, 0, 0.1) 100%);
}

#section-personal{
  background: linear-gradient(180deg,rgba(89, 68, 40, 0.2) 50%, rgba(0, 0, 0, 0.1) 100%);
}

#section-ltu{
  /*background: rgba(22, 29, 55, 0.3);*/
  background: linear-gradient(180deg,rgba(24, 34, 71, 0.2) 50%, rgba(0, 0, 0, 0.1) 100%);
}

#section-jams{
  /*background: rgb(99, 50, 54, 0.3);*/
  background: linear-gradient(180deg,rgba(99, 50, 54, 0.2) 50%, rgba(0, 0, 0, 0.1) 100%);
}